/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


.contact__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    margin-bottom: 59px;
}


/*contact form*/

.contact__wrapper {
    margin-right: 120px;
}

.contact__form {
    margin: 0;
    background-color: #E5EAF8;
}

.contact__form-inputs {
    width: 680px;
    margin: 0;
    padding: 0;
    border-width: 0;
    padding: 42px 40px;
    background-color: #E5EAF8;
}

.contact__form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.contact__input-title {
    font-family: 'Open Sans', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
}

.contact__user-name {
    width: 600px;
}

.label-wrapper input {
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
}

.contact-user-name::-webkit-input-placeholder {
    font-family: 'Open Sans', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
}

.contact-user-name::-moz-placeholder {
    font-family: 'Open Sans', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
}

.contact-user-name:-ms-input-placeholder {
    font-family: 'Open Sans', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
}

.contact-user-name::-ms-input-placeholder {
    font-family: 'Open Sans', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
}

.contact-user-name::placeholder {
    font-family: 'Open Sans', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
}

.label-wrapper input {
    display: block;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 14px 20px 10px 20px;
    min-height: 50px;
}

.label-wrapper input:hover {
    display: block;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 14px 20px 10px 20px;
    min-height: 50px;
}

.contact__user-phone {
    width: 290px;
}

.contact__user-email {
    width: 290px;
}

.contact__user-message {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 11px;
    padding-top: 14px;
    padding-left: 20px;
    padding-top: 11px;
    padding-right: 20px;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.contact-user-message:hover {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 11px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

    .contact-form-processing {
        position: relative;
        margin: 0;
        padding-top: 2px;
        padding-left: 34px;
        font-family: 'Roboto', 'Arial', 'sans-serif';
        font-size: 14.8px;
        line-height: 16px;
        color: #1E0606;
    }

    .contact-form-processing::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 19px;
        height: 19px;
        border: 2px solid #C29974;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border-radius: 3px;
    }

    .contact-form-processing::after {
        content: '';
        position: absolute;
        background-image: none;
        top: 0;
        left: 0;
        width: 19px;
        height: 19px;
        border: 2px solid #C29974;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border-radius: 3px;
    }

    .contact-user-processing:checked + .contact-form-processing::after {
        background-image: url('/images/index-checkbox.png');
        background-repeat: no-repeat;
        background-color: #E5EAF8;
    }
    .contact-user-processing:focus + .contact-form-processing::after,
    .contact-user-processing:hover + .contact-form-processing::after  {
        border: 2px solid #836E5B;
    }

    .contact-form-processing:hover {
        cursor: pointer;
    }

    .contact-subscribe {
        display: block;
        margin-top: 19px;
        margin-right: 300px;
        padding: 9px 22px;
        text-transform: uppercase;
        border: 0;
    }


/**Form description**/

.form-description-text {
    margin: 0;
    margin-bottom: 20px;
    color: #1E0606;
}

.form-description-slogan {
    margin-top: 20px;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #C29974;
}