/**Form stile**/

.index-popup-overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(125, 151, 218, 0.8);
}

.index-popup {
    position: fixed;
    display: none;
    top: 0px;
    left: 50%;
    width: 680px;
    margin: 0 auto;
    margin-left: -340px;
    margin-top: 113px;
    
}

.button-close {
    position: absolute;
    top: 0;
    right: -25px;
    width: 15px;
    height: 15px;
    background-color: #97ace1;
    border: none;
}

.button-close:hover .button-close-svg{
    fill-opacity: 0.5;
    cursor: pointer;
}

.index-popup-overlay.open {
    display: block;
}

.index-popup-overlay.open .index-popup {
    display: block;
}

/**for copy to contact-us.css**/
.index-popup-form {
    margin: 0;
}

.index-popup-inputs {
    width: 680px;
    margin: 0;
    padding: 0;
    border-width: 0;
    padding: 44px 40px;
    background-color: #E5EAF8;
}

.popup-form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
}

.input-label {
    display: block;
    margin-bottom: 6px;
    font-family: 'Roboto', 'Arial', 'sans-serif';
    font-size: 14px;
    line-height: 16px;
    color: #1E0606;
}

.index-user-name {
    width: 600px;
    
}

.label-wrapper input {
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
}

.label-wrapper input {
    display: block;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 12px 20px 11px 20px;
    min-height: 50px;
}
.label-wrapper:hover input {
    display: block;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 12px 20px 11px 20px;
    min-height: 50px;
}

.index-user-phone {
    width: 290px;
}

.index-user-email {
    width: 290px;
}

.index-user-message {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 8px;
    padding-left: 20px;
    padding-top: 11px;
    padding-right: 20px;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    }
.index-user-message:hover {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    }

    .index-popup-consent {
        position: relative;
        margin: 0;
        padding-top: 2px;
        padding-left: 34px;
        font-family: 'Roboto', 'Arial', 'sans-serif';
        font-size: 14px;
        line-height: 16px;
        color: #1E0606;
    }

    .index-popup-consent::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 19px;
        height: 19px;
        border: 2px solid #C29974;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border-radius: 3px;
    }

    .index-popup-consent::after {
        content: '';
        position: absolute;
        background-image: none;
        top: 0;
        left: 0;
        width: 19px;
        height: 19px;
        border: 2px solid #C29974;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border-radius: 3px;
    }

    .index-user-consent:checked + .index-popup-consent::after {
        background-image: url('/images/index-checkbox.png');
        background-repeat: no-repeat;
        background-color: #E5EAF8;
    }

    .index-user-consent:focus + .index-popup-consent::after,
    .index-user-consent:hover + .index-popup-consent::after  {
        border: 2px solid #836E5B;
    }

    .index-popup-consent:hover {
        cursor: pointer;
    }

    .popup-subscribe {
        display: block;
        margin-top: 20px;
        margin-right: 300px;
        padding: 9px 22px;
        text-transform: uppercase;
        color: #E1E1E1;
        border: 0;
        background-color: #C1C1C1;
    }