
.goods__filter-form {
    margin-top: 50px;
    padding-bottom: 26px;
    background-color: rgba(125, 151, 218, 0.2);
}

.details__goods {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.form__cost-wrapper {
    margin: 0;
    margin-right: 106px;
    padding: 0;
}

.form__color-wrapper {
    margin: 0;
    margin-right: 92px;
    padding: 0;
}

.form__delivery-wrapper {
    margin: 0;
    margin-right: 37px;
    padding: 0;
}

.form__amount-wrapper {
    margin: 0;
    padding: 0;
    margin-right: 60px;
}

.details__form-border {
    margin-top: 41px;
    border: 0;
}

.details-block-title {
    margin-bottom: 15px;
    font-weight: bold;
}

/**range stile**/
.range{
    width: 195px;
    padding-top: 8px;
}

.field{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 3px;
}  

.field .value{
    position: absolute;
    font-family: 'Open Sans', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.field .value.left{
    top: 23px;
    left: 0px;
}
.field .value.right{
    top: 23px;
    left: 178px;
}


.range input{
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background: #000000;
    border-radius: 5px;
    outline: none;
    border: none;
    z-index: 2222;
}

.range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-style: solid;
    border-color: #c29974;
    border-width: 9px;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
}
.range input::-webkit-slider-thumb:hover {
    border-color: #836E5B;
}


.cost-input-focus {
    position: absolute;
    top: -10px;
    left: -8px;
    width: 220px;
    height: 30px;
    border-radius: 8px;
    border: none;
    z-index: -1;
}
.cost-range-input:focus ~ .cost-input-focus {
    border: 2px solid #836E5B;
}


/*.cost-range-input:focus {
    border: 2px solid #836E5B;
    border-width: 30px;
}*/



.range input::-moz-range-thumb{
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-style: solid;
    border-color: #C29974;
    border-width: 9px;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
}

/**end range stile**/


.form-color-list {
    margin: 0;
    padding: 0;
}

/**checkbox style**/

.color-checkbox-label {
    position: relative;
    padding-left: 28px;
    margin-right: 33px;
}
.color-checkbox-label:hover {
    text-decoration: underline;
    cursor: pointer;
}

.color-checkbox-label::before {
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    left: 0;
    top: 0;
    border: 2px solid #C29974;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
}

.color-checkbox-label::after {
    content: '';
    position: absolute;
    background-image: none;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    border: 2px solid #C29974;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
}


.color-checkbox-input:checked + .color-checkbox-label::after {
    background-image: url('/images/toys-checkbox.png');
    background-repeat: no-repeat;
    background-color: #FFFFFF;
}
.color-checkbox-input:hover + .color-checkbox-label::after, 
.color-checkbox-input:focus + .color-checkbox-label::after {
    border: 2px solid #836E5B;
}

.color-list {
    padding-bottom: 16px;
}

/**radio style Delivery**/

.form-delivery-list {
    position: relative;
    margin: 0;
    padding: 0;
}

.delivery-radio-label {
    position: relative;
    padding-left: 29px;
    margin-right: 33px;
}
.delivery-radio-label:hover {
    text-decoration: underline;
    cursor: pointer;
}

.delivery-radio-label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #C29974;
    border-radius: 50%;
}

.delivery-radio-label::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #C29974;
    border: 2px solid #C29974;
    opacity: 0;
    border-radius: 50%;
}

/**hover effect**/

.delivery-radio-input:hover + .delivery-radio-label::before, 
.delivery-radio-input:focus + .delivery-radio-label::before {
    border: 2px solid #836E5B;
}

.delivery-radio-input:checked+.delivery-radio-label::after {
    opacity: 1;
}

.radio-list {
    padding-bottom: 12px;
}

/**radio style Amount**/

.form-amount-list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
}

.amount-list {
    width: 80px;
}


.amount-radio-label {
    position: relative;
    display: block;
    min-height: 35px;
    padding-top: 8px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
}
.amount-radio-label:hover {
    background-color: #EDDEEB;
    border: 2px solid #EDDEEB;
    color: #877379;
    cursor: pointer;
}


.amount-radio-input:checked+.amount-radio-label {
    background-color: #F3D0DB;
    border: 2px solid #F3D0DB;
}
.amount-radio-input:focus ~ .amount-radio-label {
    border: 2px solid #836E5B;
}

.visuali-label {
    display: block;
}

/**form button**/

.details-goods-submit {
    margin-top: 79px;
    padding: 9px 22px;
}


/**end form**/

/**Goods cards**/

.company__goods {
    margin-top: 50px;
    margin-bottom: 40px;
}

.goods__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    margin-right: -20px;
    padding: 0;
}

.goods__card {
    position: relative;
    width: 380px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.goods-link {
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.user-attention {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
}
.goods-link:hover .user-attention {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 207px;
    height: 207px;
    margin-left: -104px;
    margin-top: 89px;
    padding-top: 82px;
    background-color: #E5EAF8;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #1E0606;
    opacity: 0.9;
    cursor: pointer;
}
.goods-link:active .user-attention {
    opacity: 0.67;
}

.goods-description {
    margin-top: 25px;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    text-align: center;
}

.goods-cost {
    font-weight: bold;
    text-align: center;
}